// Colors

$default: #172b4d;
$primary: #5e72e4;
$secondary: #f4f5f7;
$info: #11cdef;
$success: #2dce89;
$danger: #f5365c;
$warning: #fb6340;

$default-light: #3c4d69;
$primary-light: #7889e8;
$secondary-light: #f8fbfc;
$info-light: #37d5f2;
$success-light: #4fd69c;
$danger-light: #f75676;
$warning-light: #fc7c5f;

$muted: #a29baa;
$highlight: #fcf8e3;

// Fonts

$opensans: "Open Sans", sans-serif;
$poppins: "Poppins", sans-serif;
