@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@import "./variables";
@import "alert/alert";
@import "avatar/avatar";
@import "badge/badge";
@import "button/button";
@import "card/card";
@import "typography/typography";

body {
  font-family: $opensans;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
