@mixin badge {
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  text-align: center;
}

// Regular badge

.badge,
.badge-default {
  @include badge();
  border-radius: 5px;
  background: $default-badge;
  color: $default;
}

.badge-primary {
  @include badge();
  border-radius: 5px;
  background: $primary-badge;
  color: $primary;
}

.badge-secondary {
  @include badge();
  border-radius: 5px;
  background: $secondary-badge;
  color: $default;
}

.badge-info {
  @include badge();
  border-radius: 5px;
  background: $info-badge;
  color: $info;
}

.badge-success {
  @include badge();
  border-radius: 5px;
  background: $success-badge;
  color: $success;
}

.badge-warning {
  @include badge();
  border-radius: 5px;
  background: $warning-badge;
  color: $warning;
}

.badge-danger {
  @include badge();
  border-radius: 5px;
  background: $danger-badge;
  color: $danger;
}

// Pill badge

.pill-badge,
.pill-badge-default {
  @include badge();
  border-radius: 20px;
  background: $default-badge;
  color: $default;
}

.pill-badge-primary {
  @include badge();
  border-radius: 20px;
  background: $primary-badge;
  color: $primary;
}

.pill-badge-secondary {
  @include badge();
  border-radius: 20px;
  background: $secondary-badge;
  color: $default;
}

.pill-badge-info {
  @include badge();
  border-radius: 20px;
  background: $info-badge;
  color: $info;
}

.pill-badge-success {
  @include badge();
  border-radius: 20px;
  background: $success-badge;
  color: $success;
}

.pill-badge-warning {
  @include badge();
  border-radius: 20px;
  background: $warning-badge;
  color: $warning;
}

.pill-badge-danger {
  @include badge();
  border-radius: 20px;
  background: $danger-badge;
  color: $danger;
}

// Outlined badge

.outline-badge,
.outline-badge-default {
  @include badge();
  border-radius: 5px;
  border: 1px solid $default-badge;

  &:hover {
    background: $default-badge;
    color: $default;
  }
}

.outline-badge-primary {
  @include badge();
  border-radius: 5px;
  border: 1px solid $primary-badge;

  &:hover {
    background: $primary-badge;
    color: $primary;
  }
}

.outline-badge-secondary {
  @include badge();
  border-radius: 5px;
  border: 1px solid $secondary-badge;

  &:hover {
    background: $secondary-badge;
    color: $default;
  }
}

.outline-badge-info {
  @include badge();
  border-radius: 5px;
  border: 1px solid $info-badge;

  &:hover {
    background: $info-badge;
    color: $info;
  }
}

.outline-badge-success {
  @include badge();
  border-radius: 5px;
  border: 1px solid $success-badge;

  &:hover {
    background: $success-badge;
    color: $success;
  }
}

.outline-badge-warning {
  @include badge();
  border-radius: 5px;
  border: 1px solid $warning-badge;

  &:hover {
    background: $warning-badge;
    color: $warning;
  }
}

.outline-badge-danger {
  @include badge();
  border-radius: 5px;
  border: 1px solid $danger-badge;

  &:hover {
    background: $danger-badge;
    color: $danger;
  }
}
