h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $poppins;
}

// Text formatting

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// Text styling

.muted {
  color: $muted;
}

.highlight {
  display: inline;
  background: $highlight;
}

.underline {
  text-decoration: underline;
}

.breakthrough {
  text-decoration: line-through;
}

// .focus - Makes a paragraph appear on top of others

.focus {
  padding: 2em 1em;
  background: #f5f7f9;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .focus {
    padding: 1em;
  }
}
